$corDeFundo: black;
$corTextoPrincipal: silver;
$corTextoSecundaria: #f9f9f9;
$corTextoTitulo: rgba(255, 217, 0, 0.541);
$corDeFundoBotaoPrimario: rgba(255, 217, 0, 0.541);
$corDeFundoBotaoSecundario: #ffdfab;
$corDeFundoBotaoDark: #000;